<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cloud.antelope.lingmou">

    <!-- Required -->
    <permission
        android:name="${applicationId}.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />

    <!-- GPS定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 拨打电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true" />

    <application
        android:name="com.jess.arms.base.BaseApplication"
        android:allowBackup="false"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">

        <!--
        autolayout meta
        配置设计图的宽高,配合AutoLauout控件使用,在设计图尺寸以外的其它尺寸手机上,也能达到和设计图一样的效果
        注意: 本框架并不强制你使用 AutoLayout,如果你不想使用 AutoLayout,就不要配置下面的 meta-data
        -->
        <!-- <meta-data -->
        <!-- android:name="design_width" -->
        <!-- android:value="1080"/> -->
        <!-- <meta-data -->
        <!-- android:name="design_height" -->
        <!-- android:value="1920"/> -->


        <!-- arms配置 -->
        <meta-data
            android:name="cloud.antelope.lingmou.app.GlobalConfiguration"
            android:value="ConfigModule" />

        <!-- 高德地图 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="${AMAP_API_KEY_VALUE}" />

        <!-- x5web -->
        <meta-data
            android:name="QBSDKAppKey"
            android:value="k9nLpR2sN4fhmTQ6lRqHclI/" />

        <!-- 填写您从Mob开发者后台中得到的Appkey和AppSecret -->
        <meta-data
            android:name="Mob-AppKey"
            android:value="${MOB_APPKEY_VALUE}" />
        <meta-data
            android:name="Mob-AppSecret"
            android:value="${MOB_APPSECRET_VALUE}" />

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="cn.sharesdk.tencent.qq.ReceiveActivity"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="${QQ_SHARE_APPID}" />
            </intent-filter>
        </activity>

        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 微信分享回调 -->
        <activity
            android:name="cloud.antelope.zhyy.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- <activity android:name=".mvp.ui.activity.UserActivity"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN"/> -->


        <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".mvp.ui.activity.Splash1Activity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
            <activity
            android:name=".mvp.ui.activity.SplashActivity"
            android:screenOrientation="portrait"/>
        -->
        <activity
            android:name=".mvp.ui.activity.GuideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".mvp.ui.activity.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".mvp.ui.activity.NewMainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".mvp.ui.activity.AccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".mvp.ui.activity.SearchCameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".mvp.ui.activity.CameraMapActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".mvp.ui.activity.SoloActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".mvp.ui.activity.FaceDepotActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".mvp.ui.activity.ReportEditActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />

        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name=".mvp.ui.activity.KFeedbackActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />

        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name=".mvp.ui.activity.ResetPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".mvp.ui.activity.AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".mvp.ui.activity.ClothControlAlarmActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".mvp.ui.activity.PictureDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".mvp.ui.activity.BodyDepotActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".mvp.ui.activity.FaceRecognizeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".mvp.ui.activity.ReportAddressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".mvp.ui.activity.NewsListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".mvp.ui.activity.NewsDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".mvp.ui.activity.AllCommentActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".mvp.ui.activity.ImagePreviewDownloadActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/ImagePickerThemeFullScreen" />
        <activity
            android:name=".mvp.ui.activity.MyReportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".mvp.ui.activity.ClueDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".mvp.ui.activity.LmCaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".mvp.ui.activity.LmCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".mvp.ui.activity.LmImageGridActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".mvp.ui.activity.FaceDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".mvp.ui.activity.CommentDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".mvp.ui.activity.VictoryShowActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".mvp.ui.activity.PlayerActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".mvp.ui.activity.PlayerNewActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".mvp.ui.activity.RecordActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".mvp.ui.activity.FaceAlarmDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".mvp.ui.activity.PersonTrackActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".mvp.ui.activity.MessageCodeActivityActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".mvp.ui.activity.LocationSelectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".mvp.ui.activity.MyMessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".mvp.ui.activity.MyCollectionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".mvp.ui.activity.NoPermissionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.OrganizationStructureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".mvp.ui.activity.FaceFilterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".mvp.ui.activity.DeployControlActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".mvp.ui.activity.DeployMissionDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".mvp.ui.activity.NewDeployMissionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".mvp.ui.activity.DailyPoliceDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".mvp.ui.activity.DailyPersonDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".mvp.ui.activity.RealVideosListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".mvp.ui.activity.VideoPlayActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".mvp.ui.activity.VideoDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".mvp.ui.activity.DeviceShowMapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".mvp.ui.activity.CloudSearchActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".mvp.ui.activity.CollectedPictureActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".mvp.ui.activity.FocusedDevicesActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".mvp.ui.activity.HistoryWatchActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".mvp.ui.activity.TrackingPersonActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".mvp.ui.activity.CollectedAlertActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".mvp.ui.activity.AccountHeadActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".mvp.ui.activity.DeviceListActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".mvp.ui.activity.CollectedFaceActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".mvp.ui.activity.FaceDepotDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".mvp.ui.activity.CarDepotActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".mvp.ui.activity.CarDepotSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".mvp.ui.activity.CarBrandActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme"
            android:windowSoftInputMode="adjustNothing|stateUnchanged" />
        <activity
            android:name=".mvp.ui.activity.EventRemindActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".mvp.ui.activity.AlertDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".mvp.ui.activity.UpdateInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageTranslucentTheme" />

        <service android:name=".app.service.InitializeService">
            <intent-filter>
                <action android:name="com.netposa.cyqz.service.action.INIT" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>

        <!-- Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:exported="false"
            android:process=":mult">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        <!-- since 3.0.9 Required SDK 核心功能 -->
        <provider
            android:name="cn.jpush.android.service.DataProvider"
            android:authorities="${applicationId}.DataProvider"
            android:exported="false" />
        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </service>
        <!-- since 3.1.0 Required SDK 核心功能 -->
        <provider
            android:name="cn.jpush.android.service.DownloadProvider"
            android:authorities="${applicationId}.DownloadProvider"
            android:exported="true" />
        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> <!-- Required  显示通知栏 -->
                <category android:name="${applicationId}" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />
        <receiver
            android:name=".app.receiver.JPushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
        <receiver android:name=".app.receiver.MyJPushMessageReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <!-- JPUSH Key 发布版本 -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="${JPUSH_APPKEY_VALUE}" />

        <!-- 友盟统计 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UMENG_APPKEY_VALUE}" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />
        <meta-data
            android:name="notch.config"
            android:value="portrait" />

        <activity android:name=".mvp.ui.activity.DeviceMapActivity"></activity>
    </application>

</manifest>